<div class="container-sm p-6">
    <h1>Agregar nuevo edificio</h1>
    <form action="/agregarEdificio" method="post">
        <div class="mb-3">
            <label for="denominacionEdificio" class="form-label">Denominación</label>
            <input type="text" class="form-control" id="denominacionEdificio" name="denominacionEdificio">
            <div id="ayudaDenominacionEdificio" class="form-text">Ingrese una denominación para identificar al edificio
            </div>
        </div>
        <div class="mb-3">
            <label for="domicilioEdificio" class="form-label">Domicilio</label>
            <input type="text" class="form-control" id="domicilioEdificio" name="domicilioEdificio">
            <div id="ayudaDomicilioEdificio" class="form-text">Ingrese calle y número</div>
        </div>
        <div class="mb-3">
            <label for="localidadEdificio" class="form-label">Localidad</label>
            <input type="text" class="form-control" id="localidadEdificio" name="localidadEdificio">
            <div id="ayudaLocalidadEdificio" class="form-text">Ingrese la localidad del edificio</div>
        </div>

        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary m-2" onclick="prenderRuedita()">Agregar edificio</button>
        </div>
        <div class="d-grid gap-2">
            <a class="btn btn-primary m-2" href="/edificios" onclick="prenderRuedita()">Volver</a>
        </div>
    </form>
    <div id="ruedita" style="visibility:hidden" class="d-flex justify-content-center">
        <div class="spinner-border text-primary" role="status">
            <span class="sr-only"></span>
        </div>
    </div>
</div>
{{!-- <script>
    function prenderRuedita() {
        document.getElementById("ruedita").style.visibility = "visible";
    }
</script> --}}