<div class="container-sm p-6">
    <h1>Historial de logueo</h1>
    <form action="/historialDeLogueo" method="post">
        <div class="class row my-1">
            <div class="class col">
                <label for="edificio" class="form-label">Usuario</label>
                <select class="form-select" aria-label="Default select example" name="usuario">
                    {{#each usuarios}}
                    <option value="{{idUsuario}}">
                        {{idUsuario}}</option>
                    {{/each}}
                </select>
                <div id="ayudaEdificio" class="form-text">Seleccione el usuario que desea controlar</div>
            </div>
        </div>
        <div class="class row mt-3">
            <div class="class col-1">
                <div class="form-check">
                    <input class="form-check-input" type="radio" value="Hoy" id="radioFechasHoy" name="radioFechas"
                        checked>
                    <label class="form-check-label" for="flexCheckChecked">
                        Hoy
                    </label>
                </div>
            </div>
            <div class="class col-1">
                <div class="form-check">
                    <input class="form-check-input" type="radio" value="Todos" id="radioFechaTodos" name="radioFechas">
                    <label class="form-check-label" for="flexCheckChecked">
                        Todos
                    </label>
                </div>
            </div>
            <div class="class col-3">
                <div class="form-check">
                    <input class="form-check-input" type="radio" value="entreFechas" id="radioFechasEntreFechas"
                        name="radioFechas">
                    <label class="form-check-label" for="flexCheckChecked">
                        Consultar entre fechas
                    </label>
                </div>
            </div>
        </div>
        <div class="row my-1">
            <div class="col">
                <label for="fechaDesde" class="form-label">Desde fecha</label>
                <input type="date" class="form-control" id="fechaDesde" name="fechaDesde">
                <div id="ayudaFechaDesde" class="form-text">Desde qué fecha desea consultar</div>
            </div>
            <div class="class col">
                <label for="fechaHasta" class="form-label">Hasta fecha</label>
                <input type="date" class="form-control" id="fechaHasta" name="fechaHasta">
                <div id="ayudaFechaHasta" class="form-text">Hasta qué fecha desea consultar</div>
            </div>
        </div>

        <div class="d-grid gap-2 my-2">
            <button type="submit" class="btn btn-primary" onclick="prenderRuedita()">Consultar</button>
        </div>
        <div class="d-grid gap-2 my-2">
            <a class="btn btn-primary" href="/" onclick="prenderRuedita()">Volver</a>
        </div>
    </form>
</div>