<div class="container-sm p-6">
    <h1>Registrando ingreso</h1>
    <form action="/ingreso" method="post">
        <div class="mb-3">
            <label for="DNIPersona" class="form-label">D.N.I.</label>
            <input type="number" class="form-control" id="DNIPersona" name="DNIPersona">
            <div id="ayudaDNIPersona" class="form-text">Ingrese el D.N.I.
            </div>
        </div>
        <div class="mb-3">
            <label for="apellidoPersona" class="form-label">Apellido</label>
            <input type="text" class="form-control" id="apellidoPersona" name="apellidoPersona">
            <div id="ayudaApellidoPersona" class="form-text">Ingrese el apellido</div>
        </div>
        <div class="mb-3">
            <label for="nombresPersona" class="form-label">Nombres</label>
            <input type="text" class="form-control" id="nombresPersona" name="nombresPersona">
            <div id="ayudaNombresPersona" class="form-text">Ingrese el nombre</div>
        </div>
        <h3>Destino</h3>
        <div class="row g-3">
            <div class="col-3">
                <label for="pisoDestino" class="form-label">Piso</label>
                <input type="number" class="form-control" id="pisoDestino" name="pisoDestino">
                <div id="ayudaPisoDestino" class="form-text">Ingrese el piso</div>
            </div>
            <div class="col-3">
                <label for="deptoDestino" class="form-label">Depto.</label>
                <input type="text" class="form-control" id="deptoDestino" name="deptoDestino">
                <div id="ayudaDeptoDestino" class="form-text">Ingrese el departamento</div>
            </div>
            <div class="col-6">
                <label for="observacionesDestino" class="form-label">Observaciones</label>
                <input type="text" class="form-control" id="observacionesDestino" name="observacionesDestino">
                <div id="ayudaObservacionesDestino" class="form-text">Ingrese aqui observaciones pertinentes</div>
            </div>
        </div>

        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary m-2">Registrar ingreso</button>
        </div>
        <div class="d-grid gap-2">
            <a class="btn btn-primary m-2" href="/">Volver</a>
        </div>
    </form>
</div>